<section id="about">
    <div class="container-fluid">
      <h1 class="about-heading">About Easy Share</h1>

      <div class="row">
        <div class="col-lg-6">
          <img class="img-feature-top" src= "images/feature-top.png" alt="feature">
          <img class="img-feature-left-bottom" src= "images/feature-left-bottom.png" alt="feature">
          <img class="img-feature-left-top" src= "images/feature-left-top.jfif" alt="feature">
          <img class="img-feature-right" src= "images/feature-right.png" alt="feature">
          <img class="img-feature-bottom" src= "images/feature-bottom.png" alt="feature">
        </div>
        <div class="col-lg-6 description">
          <h2 class="heading">Fast. Simple. Free.</h2>
          <p class="feature">Memories are timeless treasures of the heart. Happy times come and go, but the memories stay forever. A photograph keeps a moment from running away. 
            Our application EasyShare provides an easy and simple solution to photographers to share photos with the customer and gives customers an easy approach to view and select photos.</p>
          <p class="feature" style="text-align: center;">Upload your photos to try it for yourself!</p>
        </div>
      </div>
    </div>
  </section>

  <footer id="contact">
    <div class="container-fluid">
      <a href=""><i class="social-icon fab fa-facebook-f"></i></a>
      <a href=""><i class="social-icon fab fa-twitter"></i></a>
      <a href=""><i class="social-icon fab fa-instagram"></i></a>
      <a href=""><i class="social-icon fas fa-envelope"></i></a>
      <p>© Copyright <%= new Date().getFullYear(); %> EasyShare</p>
    </div>
  </footer>
<script src="../src/index.js" type="text/jsx"></script>
</body>
</html>