<section id="about">
    <div class="container-fluid">
      <h1 class="about-heading">About Easy Share</h1>

      <div class="row">
        <div class="col-lg-6">
          <img class="img-feature-top" src= "images/feature-top.png" alt="feature">
          <img class="img-feature-left-bottom" src= "images/feature-left-bottom.png" alt="feature">
          <img class="img-feature-left-top" src= "images/feature-left-top.jfif" alt="feature">
          <img class="img-feature-right" src= "images/feature-right.png" alt="feature">
          <img class="img-feature-bottom" src= "images/feature-bottom.png" alt="feature">
        </div>
        <div class="col-lg-6 description">
          <h2 class="heading">curabitur vitae nunc sed velit</h2>
          <p class="feature">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Gravida quis blandit turpis cursus in hac habitasse platea. Donec ac odio tempor orci dapibus ultrices in iaculis.
             Elementum tempus egestas sed sed. Erat velit scelerisque in dictum non consectetur. Neque ornare aenean euismod elementum nisi quis eleifend. Id eu nisl nunc mi ipsum faucibus. 
             Est sit amet facilisis magna etiam tempor orci. A erat nam at lectus urna duis convallis convallis. Sagittis purus sit amet volutpat consequat mauris nunc.  </p>
        </div>
      </div>
    </div>
  </section>

  <footer id="contact">
    <div class="container-fluid">
      <a href=""><i class="social-icon fab fa-facebook-f"></i></a>
      <a href=""><i class="social-icon fab fa-twitter"></i></a>
      <a href=""><i class="social-icon fab fa-instagram"></i></a>
      <a href=""><i class="social-icon fas fa-envelope"></i></a>
      <p>© Copyright <%= new Date().getFullYear(); %> EasyShare</p>
    </div>
  </footer>
<script src="../src/index.js" type="text/jsx"></script>
</body>
</html>