<%- include("partials/dashboard-header"); -%>

        <section id="main">
            <div class="container-fluid">
                <h3>Welcome <%= displayName %>, </h3>
            </div>
        </section>
    </body>
</html>