<%- include("partials/home-header"); -%>

  <section id="title">
      <!-- Title -->

      <div class="row">

        <div class="col-lg-8 heading">

          <div class="container">
            <h3 class="title-heading">CREATING MORE THAN JUST</h3>
            <h1 class="title-big-heading">memories</h1>
            <button type="button" class="btn btn-light btn-lg explore-button">Explore ----> </button>
          </div>

        </div>

        <div class="col-lg-4">
          <img class="title-image" src="images/title.png" alt="title">
        </div>

      </div>
    </div>
  </section>

<%- include("partials/home-footer"); -%>