 @font-face { 
  font-family: 'Gallient';
  src: url('fonts/GallientRegular-eZoMp.woff') format('woff');
  }

 body {   
  background-color: #EEEEEE;
 }
 
 /* Containers */
 .container-fluid{
    padding: 2% 7% 0% 7%;
  }
  
/* Section Navigation bar */
  #navigationBar {
    padding-bottom: 0%;    
    background-color: black;
  }
  
  .navbar {
    padding: 0 0 2.0rem;
  }
  
  .navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.0rem;
    font-weight: bold;
  }
  
  .nav-item {
    padding: 0 18px;
  }
  
  .nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
  }

  .btn-background {
      background-color: black;
      border-color: black;
  }

  .btn-background:hover {
    background-color: black;
    border-color: black;
  }

/* Section Users */
  .addUser {
    text-align: right;
  }

  #users .btn-dark {
    color: white;
  }

  .error {
    color: red;
    font-family: Gallient;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
  }

  #users .container-fluid {
    padding-left: 13%;
    padding-right: 10%;
  }

  #users .card {
    box-shadow: 0 0 10px 0 rgba(100, 100, 100, 0.26);
  }

  #users .card-column {
    padding-top: 30px;
  }

  #users .card-link {
    color: black;
  }

  #users .card-link:hover {
    color: gray;
  }

  #users .card-title {
    margin-bottom: 0;
  }

  #users .form-row {
    text-align: left;
  } 

  .client-info {
    margin-bottom: 0px;
    font-size: 15px;
    text-align: center;
  }

/* Photos Display Section */
  #photosSection .card-title {
      font-family: Caveat;
  }

  #photosSection .test {
      cursor: pointer;
      color: white;
  }

  #photosSection .options {
      text-align: right;
      font-size: 1.4rem;
  }

  #photosSection .modal-body {
      padding: 0rem;
  }

  #photosSection .card-body {
    padding: 0px;
}

  #photosSection .card-img-top {
    height: 150px;
  }

/* Add Photo Section */
  #addPhotos {
    margin-bottom: 50px;
  }

  #addPhotos .addPhoto {
    color: white;
    text-align: right;
  }

  #addPhotos .photo {
    height: 200px;
  }

  #addPhotos .modal-header {
    background-color: black;
  }

/* UnRead/Read Messages display */

  #messages .message-container {    
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  #messages .nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
    color: black;
  }

  #messages .nav-link .active {
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
    color: black;
  }

  #message-container .container-fluid{
    padding: 2% 2% 0% 2%;
  }

  #messages .see-button {
    text-align: right;
    padding: 0px;
    box-shadow: 0 0 5px 0 rgba(8, 8, 8, 0.753);
  }

  #messages .see-button:hover {
    background-color: grey;
  }

  #messages .see-button .card-body {
    padding: 0.5rem;
  }

/* Particular Message display */

  #message-section .container-fluid {
    padding: 2% 15% 0% 15%;
  }

  #message-section .photos-container {
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    border-style: solid;
  }

  #message-section .back-button {
    padding-bottom: 20px;
  }

  #message-section .back-button-icon {
    color: black;
    font-size: 1.8rem;
  }

  #message-section .heading {
    text-align: center;
  }

  #message-section .card-body {
    padding: 0px;
  }

  #message-section .card-img-top {
    height: 150px;
  }

  #message-section .modal-body {
    padding: 0rem;
  }

  #message-section .submission-button {
    text-align: center;
  }

  #message-section .submission-button {
    padding-top: 50px;
    padding-bottom: 20px;
  }

/* User profile */

  #userProfile .color-background {
    height:550px; 
    width:100%; 
    background-color: black;
  }

  #userProfile .container-fluid{
    padding: 5px;
  }

  #userProfile .profile-container {
    position: absolute;
    margin-left: 10%;
    padding: 0px;
    margin-right: 20%;
    top: 200px;
    width: 80%;
    background-color: white;
    border-style: solid;
    border-color: black;
  }

  #userProfile .user-image {
      width: 100%;
      height: 900px;
      border-radius: 5px;
  }

  #userProfile .profile-name {
    font-family: 'Gallient';
    font-size: 8rem;
  }

  #userProfile #profile-details {
    padding: 2%;
  }

  #profile-details .card-img-overlay {
    float: right;
  }

  #userProfile .profile-edit-icon {
    float: right;
    padding-right: 10px;
    font-size: 1.5rem;
  }

  #userProfile .profile-info {
    font-size: 30px;
    height: 650px; 
    width: 100%; 
    display: table-cell;
    vertical-align: middle;
  }

/* Change password */

  #changepassword .container-fluid {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
  }

  #changepassword .password {
    width: 100%;
  }
