 body {   
  background-color: #EEEEEE;
 }
 
 /* Containers */
 .container-fluid{
    padding: 2% 7% 0% 7%;
  }
  
/* Section Navigation bar */
  #navigationBar {
    padding-bottom: 0%;    
    background-color: black;
  }
  
  .navbar {
    padding: 0 0 2.0rem;
  }
  
  .navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.0rem;
    font-weight: bold;
  }
  
  .nav-item {
    padding: 0 18px;
  }
  
  .nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
  }

  .btn-background {
      background-color: black;
      border-color: black;
  }

  .btn-background:hover {
    background-color: black;
    border-color: black;
  }

/* Section Users */
  .addUser {
    text-align: right;
  }

  #users .btn-dark {
    color: white;
  }

  .error {
    color: red;
    font-family: Gallient;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
  }

  #users .container-fluid {
    padding-left: 13%;
    padding-right: 10%;
  }

  #users .card {
    box-shadow: 0 0 10px 0 rgba(100, 100, 100, 0.26);
  }

  #users .card-column {
    padding-top: 30px;
  }

  #users .card-link {
    color: black;
  }

  #users .card-link:hover {
    color: gray;
  }

  #users .card-title {
    margin-bottom: 0;
  }

  #users .form-row {
    text-align: left;
  } 

  .client-info {
    margin-bottom: 0px;
    font-size: 15px;
    text-align: center;
  }

/* Photos Display Section */
  #photosSection .card-title {
      font-family: Caveat;
  }

  #photosSection .card-image-body {
      padding: 0rem;
  }

  #photosSection .test {
      cursor: pointer;
      color: white;
  }

  #photosSection .options {
      text-align: right;
      font-size: 1.4rem;
  }

  #photosSection .form-check-input {
      margin-left: 0rem;
      left: 10px;
      top: 10px;
  }


  #photosSection .modal-body {
      padding: 0rem;
  }

/* Add Photo Section */
  #addPhotos {
    margin-bottom: 50px;
  }

  #addPhotos .addPhoto {
    color: white;
    text-align: right;
  }

  #addPhotos .photo {
    height: 200px;
  }

  #addPhotos .modal-header {
    background-color: black;
}
